# Project exclude paths
/.gradle/
/.idea/
/app/.gradle/
/app/build/
/module_develop_mvp/.gradle/
/module_develop_mvp/build/
/module_develop_mvvm/.gradle/
/module_develop_mvvm/build/
local.properties
/module_okhttp3_3.14.9/build/
/module_okhttp3_3.12.0/build/
/module_glide4_4.16.0/build/
/module_glide4_4.16.0/
