<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.kalu.frame.mvp">

    <application android:allowBackup="false">

        <provider
            android:authorities="${applicationId}.mvp.context"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="lib.kalu.frame.mvp.context.FrameContext" />

    </application>

</manifest>